# Database
DATABASE_URL=postgresql://postgres.lxhtjekkiicbxasxfwqo:pcbcV60nNEP82yuW@aws-0-ap-southeast-2.pooler.supabase.com:5432/postgres

# JWT Secrets (generate with: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))")
JWT_SECRET="your_jwt_secret_key_here"
JWT_REFRESH_SECRET="your_jwt_refresh_secret_key_here"

# Server
PORT=3001
NODE_ENV=development

# Alpha Vantage API
ALPHA_VANTAGE_API_KEY=KM19MLYTU6ZRVO8S 

# Gemini API
GEMINI_API_KEY=AQ.Ab8RN6KAr_8pAx_8sv0A20odgVSCLQMBU6IW7MUfuMYG0Q24WQ

# CORS
FRONTEND_URL=http://localhost:3000
